.main-content {
  flex: 1; /* Isi seluruh ruang kosong di tengah */
}

html,
body {
  height: 100%; /* Pastikan tinggi penuh untuk viewport */
  display: flex;
  flex-direction: column; /* Atur elemen di dalam body vertikal */
}

/* Konten Utama */
.container {
  flex: 1; /* Membuat kontainer fleksibel dan memenuhi ruang */
  padding: 20px;
  background-color: #f9f9f9;
}
