html,
body {
  height: 100%; /* Pastikan latar belakang mencakup seluruh tinggi halaman */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/Background.png");
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
}

.image-container,
.card2 {
  margin-bottom: 40px; /* Tambahkan jarak antar card */
}

.card2 {
  width: 1000px; /* Atur lebar card */
  margin: 0 auto; /* Center jika diperlukan */
  background: linear-gradient(120deg, #ffffff, #ffffff);
  line-height: 1.6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  color: #ffffff;
  padding: 20px;
}

.card2 .text-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 0; /* Hilangkan jarak atas */
  margin-bottom: 10px; /* Kurangi jarak bawah */
  color: #555555;
  text-align: justify; /* Pastikan teks rata kiri-kanan */
}

.card2 .text-container h1 {
  font-family: "Poppins", sans-serif;
  padding: 0; /* Hilangkan padding tambahan */
  margin-bottom: 15px; /* Kurangi jarak bawah */
  margin-top: 15px;
  color: #343a40;
}

.card-body {
  padding: 10px;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-bottom: 30px;
  position: relative;
  z-index: 1; /* Ensure the image stays above the background */
}

.text-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #555555;
  text-align: justify; /* Tambahkan properti ini */
}
