html,
body {
  height: 100%; /* Pastikan body mengambil tinggi penuh */
  margin: 0; /* Hapus margin default */
}

body {
  display: flex;
  flex-direction: column; /* Susun anak secara vertikal */
}

.container {
  flex: 1; /* Biarkan kontainer tumbuh dan mengambil ruang yang tersedia */
  display: flex;
  flex-direction: column; /* Susun konten di dalam kontainer secara vertikal */
}
